@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf)
    format('truetype');
}
body{
    font-family: roboto, sans-serif;
    width: 100%;
    background-image: url('images/chopping.jpg');
}
main{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

label{
    margin-bottom: 1em;
    display: block;
    padding: 15px 0;
    text-align: center;
    background:#00cc99;
    color:white;
}
image{
    background-color: lightgrey!important;
}
#showimage{
    background-image: #222222;
    width: 100%;
    padding-top: 0%;
}
