#showcase-1{
    background-color:#fff;
    box-sizing:border-box;
    border-style: dashed;
    border-color:gray;
    border-radius: 10px;
    border-width: 3px;
    height:240px;
    padding:2px;
    font-family:Arial, Helvetica, sans-serif
}

.main{
    background-color:white;
    border-style:solid;
    border-color:darkgray;
    border-width:3px;
    height: 30px;
    padding-bottom: 20px;
    padding:20px;
}

body{
    font-family: 'Abel';
    background-color: white;
    background-image:url('images/chopping.jpg');
    color:white;
}

.cola{
    background-image:linear-gradient(to right,#f8cf46 0%, #ff7b57 51%, #f8cf46 100%);
    color:white;
    animation-delay: 4s;
    padding: 10px 13px 10px 16px;
	font-size:28px;
}

#main-content{
    padding-left: 10px;
    font-size: 30px;
    background: white;
    padding-top: 10px;
    border-radius: 100px;
}

#main a{
    font-size:22px;
}

h1 {
    margin: 0;
}

.box{
    height: 200px;
    width: 300px;
    overflow: hidden;
    border: 1px solid red;
    background: #ff0;
}
.hid-box{
    top: 100px;
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
}
.box:hover > .hid-box{
    top:0;
}

.numbers {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #1c8aeb;
    height: 18px;
    overflow: hidden;
    padding-left: 3px;
    display: flex;
    flex-flow: column;
    transition: .2s ease;
    user-select: none;
  }
  
  svg:hover + .numbers, #checkbox:checked + label .numbers {
    color: #e0245e;
  }
  
  .num1, .num2 {
    display: block;
    transition: .3s margin;
  }
  
  #checkbox:checked + label .numbers .num1 {
    margin-top: -25.5px;
  }



  
